$colors: (
  gray: #757575,
  black: #050505,
  white: #FFFFFF,
  dark_blue: #6E798C,
  lightblack: #374A59,
  lightgray: #f2f2f2
);
$font-sizes: (
  large: 24px,
  standard: 16px,
  small: 12px,
  tiny: 8px
);
$max-width: 1000px;